%div.row#about
  %div.row
    %div.col-sm-12
      %div.row
        %div.col-sm-12
          %div.row
            %div.col-sm-12
              %p
                The Living Wage Calculator, Community Economic Toolbox, and Poverty in America websites were developed by Dr. Amy K. Glasmeier
      %div.row
        %div.col-sm-12
          %div.row
            %div.col-sm-6
              %h3
                Dr. Amy Glasmeier
              %p
                Amy Glasmeier is professor economic geography and regional planning. She runs LRISA, the lab on Regional Innovation and Spatial Analysis, in the Department of Urban Studies and Planning. She is a faculty Co-I on the post traumatic stress innovations project of the SSRC, where she and her students are studying the challenges of accessing mental health care and other support programs by members of the Marines and Navy, stationed at Camp Lejeune, NC. Glasmeier is a founding editor of the Cambridge Journal of Regions, Economy, Society, an off shoot of the Cambridge Journal of Economics. She serves on numerous journal editorial boards and organizations. Glasmeier’s research focuses on the spatial interactions of economic actors and structures including firms, industries, institutions and the state in the provision of economic opportunity for communities and individuals. The work investigates the role of access and the effect of locational accident, which encumbers human development. 

              %p
                She is currently writing a textbook on the Economic Geography of the Global Energy Economy where she is capturing the interplay among resources, technology, state-led development trajectories and the challenges of the resource curse, path dependence and technological lock-in. Her other project, “Good Bye American Dream” traces the ideology of opportunity which undergirds America’s relationship to the poor. Through analysis of census data, popular media, and personal narratives Glasmeier is seeking to expose the contradictions in this most scared of constructs by demonstrating the ephemeral nature of economic opportunity encumbered as it is by locational accident, institutional inertia and unintended consequences of public policy. The work builds off of her long operating Living Wage Calculator, www.livingwagecalculator@mit.edu, which analyzes the minimum level of income required for individuals and families to pay for basic living expenses.
              %p
                Glasmeier holds a professional Masters and PhD in Regional Planning from UC Berkeley.
            %div.col-sm-6
              %div.thumbnail
                =image_tag 'Glasmeier.png'
      %div.row
        %div.col-sm-12
          %div.row
            %div.col-sm-6
              %div.thumbnail
                =image_tag 'carey.jpg'
            %div.col-sm-6
              %h3
                Carey Anne Nadeau
              %p
                Carey Anne Nadeau is currently pursuing a Master's Degree in City Planning at the Department of Urban Studies and Planning, Massachusetts Institute of Technology (expected to graduate February 2015). Her Master’s thesis investigates the extent to which low wages and the ability to budget for public transportation to work act as a barrier to employment for low-income families. Concurrently, she is working at the Lab for Regional Innovation and Spatial Analysis along with Professor Amy Glasmeier to quantify the cost of living for families in US metropolitan areas.
              %p
                Previously, Nadeau worked as a Research Analyst at the Brookings Institution Metropolitan Policy Program, focusing on comparative analyses of human geography and human capital in metropolitan areas. Prior to joining the Brookings Institution, she worked as a Research Assistant at the Urban Institute’s Justice Policy Center to analyze policies and programs targeted towards low-income individuals involved with the criminal justice system. Nadeau has also served as a Senior Mentor for Fellows in the Brookings-Urban Institute Summer Academy to advise research on American Indian tribal policy.
              %p
                She holds a Bachelor’s Degree in Political Science with a focus in Public Policy from The George Washington University, magna cum laude.
      %div.row
        %div.col-sm-12
          %div.row
            %div.col-sm-6
              %h3
                Eric Schultheis
              %p
                Eric Schultheis is a doctoral candidate in the Department of Urban Studies and Planning at the Massachusetts Institute of Technology. His broad areas of interest include spatial analysis, geographic information systems (GIS), applications of IT in government and non-profit organizations, mixed-method research, applied critical realism, domestic poverty, anti-poverty law, and federally subsidized low-income rental housing policy, law, and history. In particular, his research focuses on (1) how public and non-profit organizations can leverage information technology and administrative data to better serve client populations and (2) how to evaluate the accessibility of social services in a manner that accounts for how spatial, social, and institutional factors impact service accessibility. Prior to beginning his doctoral studies, Schultheis practiced anti-poverty law for several years in Northern California. His practice was split between impact work and the representation of individual clients. His impact practice focused on how mapping and data visualization could be used in advocacy, community building and program evaluation. His individual client practice focused on representing households that participated in the public housing and "Section 8" programs in a variety of administrative and landlord/tenant issues.
            %div.col-sm-6
              %div.thumbnail
                =image_tag 'EricSchultheis_Photo.jpg'
      %div.row
        %div.col-sm-12
          %div.row
            %div.col-sm-6
              %h3
                Matt Gardner
              %p
                Matt Gardner is a research analyst for the Metropolitan Area Planning Council. He specializes in geographic information systems (GIS), web development, and information design. 
            %div.col-sm-6
              / %div.thumbnail
              /   =image_tag 'logo.png'
  %div.row
    %div.col-sm-12
      %div.row
        %div.col-sm-12
          %div.col-sm-12
            %div.gutter
          %div.row
            %div.col-sm-12
              %p
                Please refer 
                %a{href: 'assets/Living-User-Guide-and-Technical-Notes-2014.pdf'}
                  here 
                for technical documentation on how the Living Wage was calculated. 
          %div.col-sm-12
            %div.gutter

  %div.row
    %div.col-sm-12
      %div.row
        %div.col-sm-12
          %div.row
            %div.col-sm-12
              %h3
                Living Wage Calculator -- Data Use Agreement
              %p
                The Living Wage Calculator is copywritten by Professor Amy Glasmeier at the Massachusetts Institute of Technology.  According to the terms of the copyright, users may copy and redistribute the data in any medium or format and may transform or build upon the data for any legal purpose (including commercial purposes) under the following terms: all published use of the data must give appropriate credit (Living Wage Calculator. 2014. Amy Glasmeier, Massachusetts Institute of Technology), provide a link to the website (livingwage.mit.edu), and indicate if changes were made. CHANGES INCLUDE ANY TRANSFORMATION OR PROCESSING OF THE ORIGINAL DATA WHICH ALTERS THE NUMERICAL MEANING AND UNDERLYING VALUE OF THE ORIGINAL DATA.  Credits may be provided in any reasonable manner, but not in any way that suggests the licensor endorses you or your use. Any redistribution of the data itself (though not representations, visualizations, of summaries thereof) should include a notice that the recipient, by receiving the redistributed data, agrees to comply with the terms and conditions of this Data Use Agreement. 
              %p   
                Users agree not to misuse the data in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity. User agrees that, when notified that corrected or updated data are made available, user will make all reasonable efforts to destroy existing copies of the obsolete data and replace them with the updated information, if so requested. Unauthorized use of the Living Wage Calculator may give rise to a legal claim or suit.
              %p  
                Amy Glasmeier has made reasonable efforts to provide accurate data but makes no claims, no representations, and no warranties, expressed or implied, concerning the validity (expressed or implied), the reliability, or the accuracy of the underlying data, including the implied validity of any uses of such data. Each user is responsible for determining the suitability of the data for their intended use or purpose.
              %p  
                Neither Amy Glasmeier, MIT, nor their affiliates, employees, or agents shall be liable for any loss or injury caused in whole or in part by use of any information from the Living Wage Calculator. 

  %div.row
    %div.col-sm-12
      %div.row.gutter
      %div.row
        %div.col-sm-12
          %div.row
            %div.col-sm-12
              %p{style: "color: gray; text-align: center;"}
                © 2014 Dr. Amy K. Glasmeier and the Massachusetts Institute of Technology
