%div.row#about
  %div.row
    %div.col-sm-12
      %div.row
        %div.col-sm-12
          %div.row
            %div.col-sm-12
              %p
                The Living Wage Calculator, Community Economic Toolbox, and Poverty in America websites were developed by Dr. Amy K. Glasmeier
      %div.row
        %div.col-sm-12
          %div.row
            %div.col-sm-6
              %h3
                Dr. Amy Glasmeier
              %p
                Professor of Economic Geography and Regional Planning. 
                %a{href: "http://dusp.mit.edu/faculty/amy-glasmeier", target: "_blank"}
                  Profile.
            %div.col-sm-6
              %div.thumbnail
                =image_tag 'logo.png'
      %div.row
        %div.col-sm-12
          %div.row
            %div.col-sm-6
              %div.thumbnail
                =image_tag 'carey.jpg'
            %div.col-sm-6
              %h3
                Carey Nadeau
              %p
                Carey Anne Nadeau is currently pursuing a Master's Degree in City Planning at the Department of Urban Studies and Planning, Massachusetts Institute of Technology (expected to graduate February 2015). Her Master’s thesis investigates the extent to which low wages and the ability to budget for public transportation to work act as a barrier to employment for low-income families. Concurrently, she is working at the Lab for Regional Innovation and Spatial Analysis along with Professor Amy Glasmeier to quantify the cost of living for families in US metropolitan areas.
              %p
                Previously, Nadeau worked as a Research Analyst at the Brookings Institution Metropolitan Policy Program, focusing on comparative analyses of human geography and human capital in metropolitan areas. Prior to joining the Brookings Institution, she worked as a Research Assistant at the Urban Institute’s Justice Policy Center to analyze policies and programs targeted towards low-income individuals involved with the criminal justice system. Nadeau has also served as a Senior Mentor for Fellows in the Brookings-Urban Institute Summer Academy to advise research on American Indian tribal policy.
              %p
                She holds a Bachelor’s Degree in Political Science with a focus in Public Policy from The George Washington University, magna cum laude.
      %div.row
        %div.col-sm-12
          %div.row
            %div.col-sm-6
              %h3
                Matt Gardner
              %p
                Web Developer
            %div.col-sm-6
              %div.thumbnail
                =image_tag 'logo.png'
  %div.row
    %div.col-sm-12
      %div.row
        %div.col-sm-12
          %div.row
            %div.col-sm-12
              %p
                Please refer 
                %a{href: 'assets/Living-User-Guide-and-Technical-Notes-2014.pdf'}
                  here 
                for technical documentation on how the Living Wage was calculated. 

  %div.row
    %div.col-sm-12
      %div.row
        %div.col-sm-12
          %div.row
            %div.col-sm-12
              %p
                Reshare data policy text here.
  %div.row
    %div.col-sm-12
      %div.row.gutter
      %div.row
        %div.col-sm-12
          %div.row
            %div.col-sm-12
              %p{style: "color: gray; text-align: center;"}
                © 2014 Dr. Amy K. Glasmeier and the Massachusetts Institute of Technology
