<h1><%= @county.countyname %></h1>

<% unless @county.aggregations.empty? %>

  <div id="comments">
  <% for aggregation in @county.aggregations %>
    <div class="comment">
      <strong><%= aggregation.familycomposition %></strong>
    </div>
  <% end %>
  </div>
<% end %>