<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
    	{{#link-to 'index' id='logo'}}LWC{{/link-to}}
      <nav>
        <ul class="nav pull-right">
          <li>{{#link-to 'landscape' }}National{{/link-to}} </li>
          <li>{{#link-to 'recalculate' }}Recalculate{{/link-to}} </li>
          <li>{{#link-to 'occupations' }}Occupations{{/link-to}} </li>
          <li>{{#link-to 'contribute' }}Contribute{{/link-to}} </li>
        </ul>
      </nav>    
    </div>
  </div>
</header>
<div class="container">
	    
	{{outlet}}
</div>
<footer class="footer">
  <nav>

  </nav>
</footer>