<h1>National Landscape</h1>

{{outlet}}

<div class="data-panel">
	<ul>
		<li>
			<div>
				<div>
					<div>
						<h4>$12 <sub>per hr</sub></h4> <h4>Living Wage</h4>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div>
				<div>
					<div>
						<h4>$12 <sub>per hr</sub></h4> <h4>Poverty Wage</h4>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div>
				<div>
					<div>
						<h4>$12 <sub>per hr</sub></h4> <h4>Minimum Wage</h4>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>



<h2>States</h2>
Select:
{{#each}}
	{{state_name}}<br />
{{/each}}
