
$grayMediumLight: #eaeaea;
$light-border: 1px solid #DDD;
$grid-paper: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQYV2OMqXogyUAEYAQpXNKm8JyQ2lGFeEOI6OABABiIJdpw6/JOAAAAAElFTkSuQmCC) repeat;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

body {
  padding-top: 50px;
  background: $grid-paper;
  font-family: 'Merriweather', serif;
  height:100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  width: 100%;
  height: 150px;
}

.scrollable-modal {
    overflow-y:scroll;
    overflow-x:hidden;
    max-height:300px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.margins {
  margin: 15px;
}

/* typography */

#dictionary {
  min-height: 450px;
}

#map {
  height: 151px;
  margin: 0px;
}

#contribute-your-story {
  background-color: rgba(254,217,166,0.4); 
}

#living-wage-section {
  background-color: rgba(204,235,197,0.4); 
}

#occupations-section {
  background-color: rgba(179,205,227,0.4); 
}

#national-landscape {
  background-color: rgba(255,255,204,0.4); 
}

.fixed-table-row {
  position: absolute;
  width: 100%;
}

#donutchart {
  display: block;
  margin: 0 auto;
  .pie-text {
    font: 300 1.5em Helvetica Neue;
    fill: white;
    text-anchor: middle;
    pointer-events:none;
  }
  .categories {
    font: 300 .25em;
    fill: white;
    text-anchor: middle;
    pointer-events:none;
  }
}

#occupations-that-pay {
  max-height:320px;
  overflow-y: scroll;
}

#breadcrumb {
  font-size: .6em;
  color: darkgray;
}

#wage-bar-chart {
  .col-md-12 {
    background-color:rgba(251,180,174,0.6);
  }

}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h4 {
  font-size: 1.75em;
  text-align: center;
  color: white;
}

h5 {
  font-size: 2em;
  font-weight: bold;
  color: black;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: LightSlateGray;
  &:visited {
    color: LightSlateGray ;

  }
  &:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none;
  }
}

#summary-panel {
  position:absolute;
  top:100px;
  background-color:rgba(255,255,255,0.9);
  border-round: 5px;
  margin: 0;
  padding: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.red-strip {
  background-color: red;
  height: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

@media (max-width: 900px) {
  #summary-panel {
    position: inherit;
    top: 0px;
  }
  .red-strip {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
}

#bar-invert {
  background-color: #000;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.sectional {
  background: gray;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.8;
  h1 {
    color: white;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* users index */

#mit-nav {
  background-color: #FFF;
  opacity:    0.9;
}


.data-panel {
  width: 80%;
  background-color: DodgerBlue;
  display: inline-block; /* the key bit */
  *display: inline; /* IE7 hack */
  *zoom: 1; /* IE7 hack */
  border-radius:15px;
  box-shadow: 10px 10px 5px #999999;
  text-align: center;
  padding: 0px;
  margin-top: 3px;
  margin-bottom: 10px;
  div {
    display: table;
    overflow: hidden;
    width: 100%;
    height: 180px;
    div {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        margin: 0 auto;
        text-align: center;
      div {

      }
    }
  }
}

.label {
  fill: white;
  font-size: 1.1em;
}

.ui-front {
  z-index: 2000;
}


#living-wage {
  line-height: 1.2em;
  font-size: 2.45em;
  color: black;
  // text-align:left;
  // margin-top: 5px; 
  margin-bottom: 10px;
  font-weight: bold;
}
svg {
  margin:auto;
}
.other-wages {
  line-height: 1.2em;
  font-size: 1em;
  // text-align: left;
  color: black;
  // margin-top: 5px; 
  margin-bottom: 10px;
}

#sticky-menu {
  background-color: #ffffff;
  z-index: 2000;
  opacity: 0.9;
  padding-top: 5px;
}

#recalculate {
  z-index: 1000;
}


.row {
  margin: 0 auto;
  max-width: 850px;
}

#living-wage-append {
  svg {
    margin-left: 0;
  }

  .y.axis path {
    display: none;
  }

  .x.axis path {
    display: none;
  }

  .bartext {
    font: 300 25px Helvetica Neue;
    fill: white;
    text-anchor: middle;
    pointer-events:none;
  }

  .y.axis line {
    stroke: #fff;
    stroke-opacity: .2;
    shape-rendering: crispEdges;
  }

  .y.axis .zero line {
    stroke: #000;
    stroke-opacity: 1;
  }

  .title {
    font: 300 78px Helvetica Neue;
    fill: #666;
  }

  .birthyear,
  .age {
    text-anchor: middle;
  }

  .birthyear {
    fill: #fff;
  }

  rect {
    fill-opacity: .7;
    fill: #e377c2;
    fill: steelblue;
    opacity: .6;
  }
  #bar-income_hrly {
    fill: red;
    opacity: 1;
  }
  #text-income_hrly {
    font-size: 3.5em;
  }

}

#living-wage-pie {
  svg {
    margin: 0 auto;
    display: block;
  }


  .pie-text {
    font: 300 1.5em Helvetica Neue;
    fill: white;
    text-anchor: middle;
    pointer-events:none;
  }
  .categories {
    font: 300 .25em;
    fill: white;
    text-anchor: middle;
    pointer-events:none;
  }
}

#one-column-emphasis
{
  font-size: 1em;
  text-align: left;
  border-collapse: collapse;
  margin: 0px;
  width: 100%;
  margin-bottom: 5px;
}

#one-column-emphasis td
{
  color: black;
  border-bottom: 1px solid #e8edff;
  padding-right: 10px;
}

.oce-first
{
  background: white;
}



