      <div class="data-panel">
        <ul>
          <li>
            <div>
              <div>
                <h4>$12 <sub>per hr</sub></h4> <h4>Living Wage</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div>
                <h4>$12 <sub>per hr</sub></h4> <h4>Poverty Wage</h4>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div>
                <h4>$12 <sub>per hr</sub></h4> <h4>Minimum Wage</h4>
              </div>
            </div>
          </li>
        </ul>
      </div>