%div.row#map
%div{style: "position:absolute;  top:60px; left:2%; padding: 4px; background-color:rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px;", id: "wages"}
  Test

:javascript
  console.log(gon.coordinates);

  var map = L.map('map', {
    scrollWheelZoom: false,
    zoomControl: false
  }).setView(gon.coordinates, 5);

  var zoom = L.control.zoom({position: 'topright' })
  zoom.addTo(map);

  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

