%div.row#map
%div.col-md-6#summary-panel
  %div.red-strip
  %div.row
    %div.col-md-12
      %h5{style: "text-align:left;"}=@geography.name
  %div.row
    %div.col-md-8#living-wage-append
      / %div#living-wage
      /   $25 Living Wage
    %div.col-md-4#other-wages-append
      / %div.row.other-wages
      /   $16 Minimum Wage
      / %div.row.other-wages
      /   $8 Poverty Wage



:javascript
  console.log(gon.coordinates);

  var map = L.map('map', {
    scrollWheelZoom: false,
    zoomControl: false
  }).setView(gon.coordinates, 5);

  var zoom = L.control.zoom({position: 'topright' })
  zoom.addTo(map);

  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

