%div.row#national-landscape
  %div.row
    %p.text-center
      %strong
        Share of households that earn less than a living wage
    %div.col-sm-12
      %div#choropleth-map
    %div.col-sm-12
      Analysis of American Community Survey 2012 1-year estimates using:  Steven Ruggles, J. Trent Alexander, Katie Genadek, Ronald Goeken, Matthew B. Schroeder, and Matthew Sobek. Integrated Public Use Microdata Series: Version 5.0 [Machine-readable database]. Minneapolis: University of Minnesota, 2010.