%div.row#national-landscape
  %div.row
    %div.col-sm-12
      %p
        %strong.lead
          National Landscape 
        of the share of families earning less than the living wage for select family compositions
    %div.col-sm-12
      %div#choropleth-map
    %div.col-sm-12
      %em
        %small
          Note: The share of families earning less than the living wage by state was calculated as the family income from wages in 2012, adjusted for inflation to 2014, for only those family compositions included in the living wage calculator (one or two adults with up to three children, including families with one adult out of the labor force).  Families with children are restricted to those that are comparable with assumptions made when estimating the living wage (as detailed in the documentation, a one child family has one child under 5 years of age, a two child family has one child under 5 and one child between 5 and 9, and a three child family has one child under 5, one child between 5 and 9, and one child age 10 and 15). Source: Analysis of American Community Survey 2012 1-year estimates using: Steven Ruggles, J. Trent Alexander, Katie Genadek, Ronald Goeken, Matthew B. Schroeder, and Matthew Sobek. Integrated Public Use Microdata Series: Version 5.0 [Machine-readable database]. Minneapolis: University of Minnesota, 2010.