%div.row#national-landscape
  %div.row
    %p.text-center
      %strong
        Share of families earning less than the living wage by state for select family compositions, 2014
    %div.col-sm-12
      %div#choropleth-map
    %div.col-sm-12
      The share of families earning less than the living wage by state was calculated as the family income from wages, adjusted for inflation, for only those family compositions included in the living wage calculator (one or two adults with up to three children, including families with one adult out of the labor force).  Families with children are restricted to those that are comparable with assumptions made when estimating the living wage (as detailed in the documentation, a one child family has one child under 5 years of age, a two child family has one child under 5 and one child between 5 and 9, and a three child family has one child under 5, one child between 5 and 9, and one child age 10 and 15).