%div.row#occupations
  %h1
    Occupations that Pay
  %div.col-md-1
  %div.col-md-10
    %table.table.table-hover#occupations-data
      %tr
        %td
          %strong
            Occupation Type
        %td
          %strong
            Salary