%div.row
  %div.col-md-2
  %div.col-md-8
    %table.table.table-hover#occupations-data
      %tr
        %td
          %strong
            Occupation Type
        %td
          %strong
            Salary