%div.row#living-wage-section
  %div.col-sm-6
    %div#living-wage-append
  %div.col-sm-6
    %div#living-wage-pie
%div.row#occupations-section
  %div.col-sm-12
    %div.row
      %h3
        Occupations that Pay
      %div.col-xs-3.pull-left
        Occupation Type
      %div.col-xs-2.col-xs-offset-7
        Salary
    %div.row#occupations-that-pay
      %table.table#occupations-data
        %tr

    %div.tab-content
