%div.row.margins
  %div.col-sm-6
    %div
  %div.col-sm-2#contributions
  %div.col-sm-4
    %div.tab-content
      %div.tab-pane.fade#house_cost 
        %h1
          Housing costs 
        measure the fair-market rent of rental housing, including utility costs, using HUD Fair Market Rents estimates for 2014.  

        For further detail, please reference the technical documentation here.
      %div.tab-pane.fade#childcare_cost 
        %h1
          Child care cost 
        represent the lowest cost option, either family child care or child care center, by state as reported by the National Association of Child Care Resource and Referral Agencies in 2013 and are adjusted for inflation.

        For further detail, please reference the technical documentation here.
      %div.tab-pane.fade.in.active#health_cost 
        %h1
          Medical costs 
        are the sum of expenses for insurance premiums and (1) health insurance costs for employer sponsored plans, (3) medical services, (3) drugs, and (4) medical supplies.  Health insurance costs were calculated using the Health Insurance Component Analytical Tool (MEPSnet/IC) provided online by the Agency for Healthcare Research and Quality.  All other costs were estimated using 2012 data from the 2013 Bureau of Labor Statistics Consumer Expenditure Survey, adjusted by region and for inflation.

        For further detail, please reference the technical documentation here.
      %div.tab-pane.fade#food_cost 
        %h1 
          Food cost 
        is estimated using the US Department of Agriculture’s low-cost food plan as of 2013, adjusted for inflation.  The low-cost plan assumes that all meals (including snacks) are prepared in the home.  

        For further detail, please reference the technical documentation here.
      %div.tab-pane.fade#trans_cost
        %h1
          Transportation costs 
        are a measure of the expenses for (1) Used cars and trucks, (2) gasoline and motor oil, (3) other vehicle expenses, and (4) public transportation.  Expenditures for transportation are based on 2012 data by household size from the 2013 Bureau of Labor Statistics Consumer Expenditure Survey and are adjusted for regional variation and inflation.

        For further detail, please reference the technical documentation here.
      %div.tab-pane.fade#other_cost
        %h1
          Other necessities 
        include expenses for (1) apparel and services, (2) housekeeping supplies, (3) personal care products and services, (4) reading, and (5) miscellaneous.  Expenditures for other necessities are based on 2012 data by household size from the 2013 Bureau of Labor Statistics Consumer Expenditure Survey and are adjusted for regional variation and inflation. 

        For further detail, please reference the technical documentation here.

