%div.row#living-wage-section
  %div.col-xs-4
    %div
      The Living Wage is:
      %h1
        21.50
  %div.col-xs-4
    %div#living-wage-append
  %div.col-xs-4
    %div#living-wage-pie
%div.row#occupations-section
  %div#occupations-bar-graph
  