%div.anchor#occupations-section-link
%div.row#occupations-section
  %div.col-sm-12
    %p
      - if @geography.class.name.downcase != "county" && @geography.census_id != 31700 && @geography.census_id !=39300
        %strong.lead
          Jobs That Pay
        have a median annual wage above the living wage. The median annual wage for 22 major occupations is calculated using the Bureau of Labor Statistics 2013 Occupational and Employment Statistics Survey and is adjusted for inflation.
      - else 
        %p.text-center
          %em
            Note: Occupation data is not available for this geography.
  %div.col-sm-12{style: "padding-left: 0px"}
    %div#occupations-bar-graph
  %div.col-sm-12
    %div.gutter