%nav{class: 'navbar navbar-default navbar-fixed-top', role: 'navigation' }
  %div.container-fluid
    %div.navbar-header
      %div.navbar-left
        %a.navbar-brand
          Living Wage Calculator
      %div.navbar-right
        %a{ "data-target" => "#myModal", "data-toggle" => "modal"}
          Change Geography ▾