%nav{class: 'navbar navbar-default navbar-fixed-top', role: 'navigation' }
  %div.container-fluid
    %div.navbar-header
      %div.navbar-left
        %a.navbar-brand
          =image_tag 'MIT_logo.gif', height: '22px'
          Living Wage Calculator / 
          %span#breadcrumb= @geography.name
      %div.navbar-right
        Menu Items
