%nav{class: 'navbar navbar-default navbar-fixed-top', role: 'navigation' }
  %div.container-fluid
    %div.navbar-header
      %div.navbar-left
        %a.navbar-brand
          Living Wage Calculator / 
          %span#breadcrumb= @geography.name
      %div.navbar-right
        = form_for @geography do |f|
          - f.autocomplete_field :state_name, autocomplete_state_state_name_states_path